<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jewelry</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/global.css" rel="stylesheet">
	<link href="css/detail.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
	<link href="https://fonts.googleapis.com/css?family=Alata&display=swap" rel="stylesheet">
	<script src="js/jquery-2.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </head>
  
<body>
<section id="top">
 <div class="container">
  <div class="row">
   <div class="top_1 clearfix">
    <div class="col-sm-3">
	 <div class="top_1l clearfix">
	  <ul class="mgt">
	   <li>
		<a href="#"><i class="fa fa-lock"></i></a>
		<a href="#"><i class="fa fa-user"></i></a>
		<a href="#"><i class="fa fa-facebook"></i></a>
		<a href="#"><i class="fa fa-twitter"></i></a>
		<a href="#"><i class="fa fa-linkedin"></i></a>
	   </li>
	  </ul>
	 </div>
	</div>
	<div class="col-sm-9">
	 <div class="top_1r clearfix">
	  <ul class="nav navbar-nav nav_1 mgt navbar-right">
	           <li class="bord_l"><a class="font_tag col_1" href="#"><i class="fa fa-phone"></i> 123 456 789</a></li>
			
				<li class="dropdown bord_l">
						  <a class="font_tag border_none" href="#" data-toggle="dropdown" role="button" aria-expanded="false">Setting<span class="caret"></span></a>
						  <ul class="dropdown-menu drop_1" role="menu">
							<li><a href="#">Checkout</a></li>
							<li><a href="#">My Account</a></li>
							<li><a href="#">Shopping Cart</a></li>
							<li><a href="#">Wishlist</a></li>
						  </ul>
						</li>
				<li class="dropdown bord_l">
						  <a class="font_tag border_none" href="#" data-toggle="dropdown" role="button" aria-expanded="false">$ USD<span class="caret"></span></a>
						  <ul class="dropdown-menu drop_1" role="menu">
							<li><a href="#">EUR – Euro</a></li>
							<li><a href="#">GBP – British Pound</a></li>
							<li><a href="#">INR – India Rupee</a></li>
						  </ul>
						</li>
				<li class="dropdown bord_l border_none">
						  <a class="font_tag border_none" href="#" data-toggle="dropdown" role="button" aria-expanded="false">English<span class="caret"></span></a>
						  <ul class="dropdown-menu drop_1" role="menu">
							<li><a href="#"><i class="fa fa-flag"></i> English</a></li>
							<li><a href="#"><i class="fa fa-flag"></i> Germany</a></li>
						  </ul>
						</li>
				
			</ul>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>

<section id="menu" class="clearfix cd-secondary-nav">
	<nav class="navbar nav_t">
		<div class="container">
		    <div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html"><i class="fa fa-diamond"></i> <span class="col">Jewe</span>lry</a>
			</div>
			<!-- Brand and toggle get grouped for better mobile display -->
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav nav_m">
				
				<li><a class="m_tag" href="index.html">Home</a></li>
				<li class="dropdown">
					  <a class="m_tag active_tab" href="#" data-toggle="dropdown" role="button" aria-expanded="false">Product<span class="caret"></span></a>
					  <ul class="dropdown-menu drop_3" role="menu">
						<li><a href="product.html">Product</a></li>
						<li><a class="border_none" href="detail.html">Product Detail</a></li>
					  </ul>
                    </li>
				<li class="dropdown">
					  <a class="m_tag" href="#" data-toggle="dropdown" role="button" aria-expanded="false">Blog<span class="caret"></span></a>
					  <ul class="dropdown-menu drop_3" role="menu">
						<li><a href="blog.html">Blog</a></li>
						<li><a class="border_none" href="blog_detail.html">Blog Detail</a></li>
					  </ul>
                    </li>
				<li><a class="m_tag" href="contact.html">Contact</a></li>
				<li class="dropdown">
					  <a class="m_tag" href="#" data-toggle="dropdown" role="button" aria-expanded="false">Pages<span class="caret"></span></a>
					  <ul class="dropdown-menu drop_3" role="menu">
					    <li><a href="services.html">Services</a></li>
						<li><a href="cart.html">Cart</a></li>
						<li><a class="border_none" href="checkout.html">Checkout</a></li>
					  </ul>
                    </li>
				<li class="dropdown dropdown-large">
				<a href="#" class="dropdown-toggle m_tag" data-toggle="dropdown">Dropdown<b class="caret"></b></a>
				
				<ul class="dropdown-menu dropdown-menu-large row">
					<li class="col-sm-3">
						<ul>
							<li class="dropdown-header">SHOP LAYOUTS</li>
							<li><a href="#"><img src="img/3.jpg" alt="abc" class="iw"></a></li>
	                        <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></li>
						</ul>
					</li>
					<li class="col-sm-3">
						<ul>
							<li class="dropdown-header">OTHER PAGES</li>
							<li><a href="#">Basic example</a></li>
							<li><a href="#">Button toolbar</a></li>
							<li><a href="#">Sizing</a></li>
							<li><a href="#">Nesting</a></li>
							<li><a href="#">Vertical variation</a></li>
							<li><a href="#">Single button dropdowns</a></li>
						</ul>
					</li>
					<li class="col-sm-3">
						<ul>
							<li class="dropdown-header">PRODUCT TYPES</li>
							<li><a href="#">Basic example</a></li>
							<li><a href="#">Button toolbar</a></li>
							<li><a href="#">Sizing</a></li>
							<li><a href="#">Nesting</a></li>
							<li><a href="#">Vertical variation</a></li>
							<li><a href="#">Single button dropdowns</a></li>
						</ul>
					</li>
					<li class="col-sm-3">
						<ul>
							<li class="dropdown-header">OTHER TYPES</li>
					        <li><a href="#"><img src="img/4.jpg" alt="abc" class="iw"></a></li>
	                        <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></li>
						</ul>
					</li>
				</ul>
				
			</li>
			</ul>
		    	<ul class="nav navbar-nav mgt navbar-right nav_r">
				<li><a class="m_tag" href="#"><i class="fa fa-user"></i></a></li>
				<li class="dropdown">
					  <a class="m_tag" href="#" data-toggle="dropdown" role="button" aria-expanded="false"><i class="glyphicon glyphicon-shopping-cart"></i></a>
					  <ul class="dropdown-menu drop_1" role="menu">
						<li>
						 <div class="drop_1i clearfix">
						  <div class="col-sm-6">
						   <div class="drop_1il clearfix"><h5 class="mgt">2 ITEMS</h5></div>
						  </div>
						  <div class="col-sm-6">
						   <div class="drop_1il text-right clearfix"><h5 class="mgt"><a href="#">VIEW CART</a></h5></div>
						  </div>
						 </div>
						 <div class="drop_1i1 clearfix">
						  <div class="col-sm-8">
						   <div class="drop_1i1l clearfix"><h6 class="mgt bold"><a href="#">Nulla Quis</a> <br> <span class="normal col_2">1x - $89.00</span> <br> <span><i class="fa fa-remove"></i></span></h6></div>
						  </div>
						  <div class="col-sm-4">
						   <div class="drop_1i1r text-right clearfix"><a href="#"><img src="img/1.jpg" class="iw" alt="abc"></a></div>
						  </div>
						 </div>
						 <div class="drop_1i1 clearfix">
						  <div class="col-sm-8">
						   <div class="drop_1i1l clearfix"><h6 class="mgt bold"><a href="#">Eget Nulla</a> <br> <span class="normal col_2">1x - $49.00</span> <br> <span><i class="fa fa-remove"></i></span></h6></div>
						  </div>
						  <div class="col-sm-4">
						   <div class="drop_1i1r text-right clearfix"><a href="#"><img src="img/2.png" class="iw" alt="abc"></a></div>
						  </div>
						 </div>
						 <div class="drop_1i2 clearfix">
						  <div class="col-sm-6">
						   <div class="drop_1il clearfix"><h5 class="mgt">TOTAL</h5></div>
						  </div>
						  <div class="col-sm-6">
						   <div class="drop_1il text-right clearfix"><h5 class="mgt">$138.00</h5></div>
						  </div>
						 </div>
						 <div class="drop_1i3 text-center clearfix">
						  <div class="col-sm-12">
						   <h5><a class="button_1 block" href="checkout.html">CHECKOUT</a></h5>
						   <h5><a class="button block" href="cart.html">VIEW CART</a></h5>
						  </div>
						 </div>
						</li>
					  </ul>
                    </li>
				<li class="dropdown"><a class="m_tag" href="#" data-toggle="dropdown"><span class="fa fa-search"></span></a>
											<ul class="dropdown-menu drop_2" style="min-width: 300px;">
												<li>
													<div class="row_1">
														<div class="col-sm-12">
															<form class="navbar-form navbar-left" role="search">
															<div class="input-group">
																<input type="text" class="form-control" placeholder="Search">
																<span class="input-group-btn">
																	<button class="btn btn-primary" type="button">
																		Search</button>
																</span>
															</div>
															</form>
														</div>
													</div>
												</li>
											</ul>
								  </li>
			    </ul>

			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	
	</section>
	
<section id="center" class="center_shop"> 
 <div class="container">
  <div class="row">
   <div class="center_shop_t clearfix">
    <div class="col-sm-6">
	 <div class="center_shop_tl clearfix">
	  <h4 class="mgt">Product Detail</h4>
	 </div>
	</div>
	<div class="col-sm-6">
	 <div class="center_shop_tr text-right clearfix">
	  <h6 class="col_2">You are here:   <a href="#">Home</a> /  Product Detail</h6>
	 </div> 
	</div>
   </div>
   
  </div>
 </div>
</section>

<section id="detail"> 
 <div class="container">
  <div class="row">
   <div class="detail_1 clearfix">
    <div class="col-sm-9">
	 <div class="detail_1l clearfix">
      <div class="col-sm-5 space_left">
	   <div class="detail_1ll clearfix">
	    <div class="carousel slide article-slide" id="article-photo-carousel">

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner cont-slider">
		
			<div class="item active">
			  <div class="mag">
                <div class="magnify"><div class="magnify"><img data-toggle="magnify" src="img/39.jpg" alt=""><div class="magnify-large" style="background: url(&quot;img/53.jpg&quot;) no-repeat;"></div></div><div class="magnify-large"></div></div>
            </div>
			</div>
			<div class="item">
			  <div class="mag">
                <div class="magnify"><div class="magnify"><img data-toggle="magnify" src="img/40.jpg" alt=""><div class="magnify-large" style="background: url(&quot;img/54.jpg&quot;) no-repeat;"></div></div><div class="magnify-large"></div></div>
            </div>
			</div>
			<div class="item">
			  <div class="mag">
                <div class="magnify"><div class="magnify"><img data-toggle="magnify" src="img/41.jpg" alt=""><div class="magnify-large" style="background: url(&quot;img/55.jpg&quot;) no-repeat;"></div></div><div class="magnify-large"></div></div>
            </div>
			</div>
			<div class="item ">
			  <div class="mag">
                <div class="magnify"><div class="magnify"><img data-toggle="magnify" src="img/42.png" alt=""><div class="magnify-large" style="background: url(&quot;img/56.jpg&quot;) -101px -21px no-repeat; display: block; left: 17px; top: -27.5px; opacity: 0;"></div></div><div class="magnify-large"></div></div>
            </div>
			</div>
		  </div>
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
			<li class="active" data-slide-to="0" data-target="#article-photo-carousel">
			  <img alt="" src="img/39.jpg">
			</li>
			<li class="" data-slide-to="1" data-target="#article-photo-carousel">
			  <img alt="" src="img/40.jpg">
			</li>
			<li class="" data-slide-to="2" data-target="#article-photo-carousel">
			  <img alt="" src="img/41.jpg">
			</li>
			<li class="" data-slide-to="3" data-target="#article-photo-carousel">
			  <img alt="" src="img/42.png">
			</li>
		  </ol>
        </div>
	   </div>
	  </div>
	  <div class="col-sm-7 space_left">
	   <div class="detail_1lr clearfix">
	    <div class="detail_1lri clearfix">
		 <h4 class="mgt">White Product New</h4>
		 <h6>
		 <span class="span_1">
		  <i class="fa fa-star-o"></i>
		  <i class="fa fa-star-o"></i>
		  <i class="fa fa-star-o"></i>
		  <i class="fa fa-star-o"></i>
		  <i class="fa fa-star-o"></i>
		 </span>
		  <span class="span_2 col_2">0 Review(s)</span>
		 </h6>
		 <ul>
		  <li>Lightning-fast turnaround times, including one-day production</li>
		  <li>Multiple premium paper stocks and folding options</li>
		  <li>Brochure direct mailing services available</li>
		 </ul>
		 <hr>
		 <h3><span class="span_1 col_1">$11.64</span> <span class="span_2">$14.30</span> <span class="span_3 pull-right">In stock SKU: ND7</span></h3>
		</div>
		<div class="detail_1lri1 clearfix">
		 <h5>Select Size:</h5>
		 <select class="form-control" id="subject" name="subject">
		<option>No additional charge</option>
		<option>S No additional charge</option>
		<option>M +$1.10</option>
		<option>L +$2.20</option>
		</select>
		</div>
		<div class="detail_1lri2 clearfix">
		 <h5>Select Color:</h5>
		 <ul>
		  <li class="bg_1"></li>
		  <li class="bg_2"></li>
		  <li class="bg_3"></li>
		 </ul>
		</div>
		<div class="detail_1lri3 clearfix">
		 <div class="col-sm-6 space_left">
		  <div class="detail_1lri3l clearfix">
		   <h5 class="mgt">Quantity:</h5>
		   <div class="input-group number-spinner">
				<span class="input-group-btn">
					<button class="btn btn-default" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
				</span>
				<input type="text" class="form-control text-center" value="1">
				<span class="input-group-btn">
					<button class="btn btn-default" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
				</span>			</div>
		  </div>
		 </div>
		 <div class="col-sm-6 space_right">
		  <div class="detail_1lri3r clearfix">
		   <h5 class="mgt text-right"><a class="button mgt" href="#">ADD TO CART</a></h5>
		  </div>
		 </div>
		</div>
		<div class="detail_1lri4 clearfix">
        <h5>Array</h5>
		<hr>
		<ul>
		 <li><a href="#"><i class="fa fa-repeat"></i> Add to Compare</a></li>
		 <li><a href="#"><i class="fa fa-heart-o"></i> Add to Wishlist</a></li>
		 <li><a href="#"><i class="fa fa-share-alt"></i> Share</a></li>
		</ul>
		</div>
	   </div>
	  </div>
	 </div>
	 <div class="product_detail_1 clearfix">
		   <ul class="nav nav-tabs tab_1">
			  <li class="active"><a data-toggle="tab" href="#home"><i class="fa fa-globe"></i> Description</a></li>
			  <li class=""><a data-toggle="tab" href="#menu1"><i class="fa fa-photo"></i> Additional Information</a></li>
			  <li class=""><a data-toggle="tab" href="#menu2"><i class="fa fa-cog"></i> Product Review</a></li>
           </ul>
		   <div class="tab-content clearfix">
			  <div id="home" class="tab-pane fade clearfix active in">
				 <div class="click clearfix">
					<div class="col-sm-12">
					 <div class="home_i">
					   <p class="mgt">Web design lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
					   <p>Suspendisse et justo. Praesent mattis commyolk augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commyolk augue aliquam ornare augue.</p>
					   <p>"But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"</p>
					   <ul>
					    <li>"But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and</li>
						<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</li>
						<li>t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'</li>
						<li>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</li>
						<li>Dorem ipsum dolor sit amet</li>
					   </ul>
					 </div>
					</div>
			   </div>
			  </div>
			  <div id="menu1" class="tab-pane fade clearfix">
				 <div class="click clearfix">
					<div class="col-sm-12">
					  <div class="menu_i clearfix">
					    <table>
						  <tbody>
						  <tr>
							<td>Pricing</td>
							<td>$42.00</td>
						  </tr>
						  <tr>
							<td>Stock Availability</td>
							<td>AVAILABLE</td>
						  </tr>
						  <tr>
							<td>Rating</td>
							<td>
							<span>
							 <i class="fa fa-star"></i>
							 <i class="fa fa-star"></i>
							 <i class="fa fa-star"></i>
							 <i class="fa fa-star"></i>
							 <i class="fa fa-star"></i>
							</span>
							</td>
						  </tr>
						  
					   </tbody>
	                    </table>
					  </div>
					</div>
			   </div>
			  </div>
			  <div id="menu2" class="tab-pane fade clearfix">
				 <div class="click clearfix">
					<div class="col-sm-12">
					 <div class="menu1i clearfix">
					   <div class="menu1ii mgt clearfix">
					    <div class="col-sm-9">
						<img class="thumbnail" src="img/44.jpg" alt="abc">
						<h5 class="mgt"><span class="bold">Conubia Nostra</span> <span class="date"><i class="fa fa-clock-o"></i>  May 9, 2019</span></h5>
						<p>Really happy with this print. The colors are great, and the paper quality is very good.</p>
						</div>
						<div class="col-sm-3 text-right">
						 <span class="">
						 <i class="fa fa-star"></i>
						 <i class="fa fa-star"></i>
						 <i class="fa fa-star"></i>
						 <i class="fa fa-star-o"></i>
						 <i class="fa fa-star-o"></i>
						 </span>
						</div>
					   </div>
					   <div class="menu1ii clearfix">
					    <div class="col-sm-9">
						<img class="thumbnail" src="img/45.jpg" alt="abc">
						<h5 class="mgt"><span class="bold">Conubia Nostra</span> <span class="date"><i class="fa fa-clock-o"></i>  May 9, 2019</span></h5>
						<p>Really happy with this print. The colors are great, and the paper quality is very good.</p>
						</div>
						<div class="col-sm-3 text-right">
						 <span class="">
						 <i class="fa fa-star"></i>
						 <i class="fa fa-star"></i>
						 <i class="fa fa-star"></i>
						 <i class="fa fa-star-o"></i>
						 <i class="fa fa-star-o"></i>
						 </span>
						</div>
					   </div>
					   <div class="menu1ii clearfix">
					    <div class="col-sm-9">
						<img class="thumbnail" src="img/46.jpg" alt="abc">
						<h5 class="mgt"><span class="bold">Conubia Nostra</span> <span class="date"><i class="fa fa-clock-o"></i>  May 9, 2019</span></h5>
						<p>Really happy with this print. The colors are great, and the paper quality is very good.</p>
						</div>
						<div class="col-sm-3 text-right">
						 <span class="">
						 <i class="fa fa-star"></i>
						 <i class="fa fa-star"></i>
						 <i class="fa fa-star"></i>
						 <i class="fa fa-star-o"></i>
						 <i class="fa fa-star-o"></i>
						 </span>
						</div>
					   </div>
					   <div class="menu1i1 clearfix">
					    <div class="col-sm-6 space_left">
						<h4>ADD A REVIEW</h4>
						<h5>Name *</h5>
						<input class="form-control" type="text">
						<h5>Email *</h5>
						<input class="form-control" type="text">
						<h5>Your Review</h5>
						<textarea class="form-control form_1"></textarea>
						<h5 class="bg"><a class="button" href="#">Submit</a></h5>
						</div>
						<div class="col-sm-6">
						 <div class="grid clearfix">
		                   <figure class="effect-jazz">
			                <a href="#"><img src="img/47.jpg" height="450" class="iw" alt="img25"></a>
		                   </figure>
	                     </div>
						</div>
					   </div>
					 </div>
					</div>
			   </div>
			  </div>
			</div>
	 </div>
	</div>
	<div class="col-sm-3">
	 <div class="detail_1r clearfix">
      <div class="detail_1ri clearfix">
	    <h4 class="mgt">Nibh Elementum</h4>
	   <hr>
	   <p class="mgt"><i class="fa fa-retweet"></i> We will send this product in 2 days.</p>
	   <p><i class="fa fa-css3"></i> Call us now for more info about our products.</p>
	   <p><i class="fa fa-minus-circle"></i> Return purchased items and get all your money back.</p>
	   <p><i class="fa fa-comment"></i> Buy this product and earn 10 special loyalty points!</p>
	   <hr>
	   <ul class="social-network social-circle">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
       </ul>
	   <hr>
	  </div>
	  <div class="product_1l clearfix">
	   <h4 class="mgt">Related Products</h4>
	   <hr>
       <div class="product_1li clearfix">
	    <img src="img/1.jpg" alt="abc">
		<h5 class="mgt"><a href="detail.html">Best Product</a> <br>$89.00</h5>
		<span>
		 <i class="fa fa-star"></i>
		 <i class="fa fa-star"></i>
		 <i class="fa fa-star"></i>
		 <i class="fa fa-star"></i>
		 <i class="fa fa-star-o"></i>
		</span>
	   </div>
	   <div class="product_1li clearfix">
	    <img src="img/2.png" alt="abc">
		<h5 class="mgt"><a href="detail.html">Nice Product</a> <br>$69.00</h5>
		<span>
		 <i class="fa fa-star"></i>
		 <i class="fa fa-star"></i>
		 <i class="fa fa-star"></i>
		 <i class="fa fa-star"></i>
		 <i class="fa fa-star-half-o"></i>
		</span>
	   </div>
	   <div class="product_1li border_none pdb clearfix">
	    <img src="img/43.jpg" alt="abc">
		<h5 class="mgt"><a href="detail.html">Good Product</a> <br>$99.00</h5>
		<span>
		 <i class="fa fa-star"></i>
		 <i class="fa fa-star"></i>
		 <i class="fa fa-star"></i>
		 <i class="fa fa-star"></i>
		 <i class="fa fa-star"></i>
		</span>
	   </div>
	  </div>
	 </div> 
	</div>
   </div>
   <div class="collcet_1r clearfix">
     <h3 class="heading">Related Product</h3>
	   <div class="col-sm-3 space_left">
					 <div class="feature_2im clearfix">
					   	    <div class="feature_2im1 clearfix">
					     <a href="#"><img src="img/8.jpg" class="iw" alt="abc"></a>
					    </div>
							<div class="feature_2im2 clearfix">
							 <h6 class="mgt"><a class="bg_1" href="#">Featured</a></h6>
							 <h6 class="pull-right mgt"><a class="bg_4" href="#">Sale</a></h6>
							</div>
							<div class="feature_2im4 clearfix">
							 <div class="col-sm-6 space_left">
							   <h6><a class="bg_3" href="#">Popular</a></h6>
							 </div>
							 <div class="col-sm-6 feature_2im4r space_right">
							   <ul>
								<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
								<li><a href="#"><i class="fa fa-rocket"></i></a></li>
								<li><a href="#"><i class="fa fa-heart-o"></i></a></li>
							   </ul>
							 </div>
							</div>
					 </div>
					 <div class="item_last text-center clearfix">
					  <h4><a href="#">Nibh Elementum</a></h4>
					  <h6>
					   <span class="span_1 col_1 bold">$14.64</span>
					   <span class="col_2 span_2">$16.30</span>
					   <span>  
					    <i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
					   </span>
					    </h6>
					 </div>
					</div>
	   <div class="col-sm-3 space_left">
					 <div class="feature_2im clearfix">
					   	    <div class="feature_2im1 clearfix">
					     <a href="#"><img src="img/9.jpg" class="iw" alt="abc"></a>
					    </div>
							<div class="feature_2im2 clearfix">
							 <h6 class="mgt"><a class="bg_1" href="#">Featured</a></h6>
							 <h6 class="pull-right mgt"><a class="bg_2" href="#">Hot</a></h6>
							</div>
							<div class="feature_2im4 clearfix">
							 <div class="col-sm-6 space_left">
							   <h6><a class="bg_3" href="#">Popular</a></h6>
							 </div>
							 <div class="col-sm-6 feature_2im4r space_right">
							   <ul>
								<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
								<li><a href="#"><i class="fa fa-rocket"></i></a></li>
								<li><a href="#"><i class="fa fa-heart-o"></i></a></li>
							   </ul>
							 </div>
							</div>
					 </div>
					 <div class="item_last text-center clearfix">
					  <h4><a href="#">Vestibulum Lacinia</a></h4>
					  <h6>
					   <span class="span_1 col_1 bold">$14.64</span>
					   <span class="col_2 span_2">$16.30</span>
					   <span>  
					    <i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
					   </span>
					    </h6>
					 </div>
					</div>
	   <div class="col-sm-3 space_left">
					 <div class="feature_2im clearfix">
					   	    <div class="feature_2im1 clearfix">
					     <a href="#"><img src="img/10.jpg" class="iw" alt="abc"></a>
					    </div>
							<div class="feature_2im2 clearfix">
							 <h6 class="mgt"><a class="bg_1" href="#">Featured</a></h6>
							 <h6 class="pull-right mgt"><a class="bg_4" href="#">Sale</a></h6>
							</div>
							<div class="feature_2im4 clearfix">
							 <div class="col-sm-6 space_left">
							   <h6><a class="bg_3" href="#">Popular</a></h6>
							 </div>
							 <div class="col-sm-6 feature_2im4r space_right">
							   <ul>
								<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
								<li><a href="#"><i class="fa fa-rocket"></i></a></li>
								<li><a href="#"><i class="fa fa-heart-o"></i></a></li>
							   </ul>
							 </div>
							</div>
					 </div>
					 <div class="item_last text-center clearfix">
					  <h4><a href="#">Nibh Elementum</a></h4>
					  <h6>
					   <span class="span_1 col_1 bold">$14.64</span>
					   <span class="col_2 span_2">$16.30</span>
					   <span>  
					    <i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
					   </span>
					    </h6>
					 </div>
					</div>
	   <div class="col-sm-3 space_left">
					 <div class="feature_2im clearfix">
					   	    <div class="feature_2im1 clearfix">
					     <a href="#"><img src="img/11.jpg" class="iw" alt="abc"></a>
					    </div>
							<div class="feature_2im2 clearfix">
							 <h6 class="mgt"><a class="bg_1" href="#">Featured</a></h6>
							 <h6 class="pull-right mgt"><a class="bg_4" href="#">Sale</a></h6>
							</div>
							<div class="feature_2im4 clearfix">
							 <div class="col-sm-6 space_left">
							   <h6><a class="bg_3" href="#">Popular</a></h6>
							 </div>
							 <div class="col-sm-6 feature_2im4r space_right">
							   <ul>
								<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
								<li><a href="#"><i class="fa fa-rocket"></i></a></li>
								<li><a href="#"><i class="fa fa-heart-o"></i></a></li>
							   </ul>
							 </div>
							</div>
					 </div>
					 <div class="item_last text-center clearfix">
					  <h4><a href="#">Nibh Elementum</a></h4>
					  <h6>
					   <span class="span_1 col_1 bold">$14.64</span>
					   <span class="col_2 span_2">$16.30</span>
					   <span>  
					    <i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
					   </span>
					    </h6>
					 </div>
					</div>
	  </div>
  </div>
 </div>
</section>

<section id="footer">
 <div class="container">
  <div class="row">
   <div class="footer_1 clearfix">
    <div class="col-sm-3">
	 <div class="footer_1i clearfix">
	  <a class="navbar-brand" href="index.html"><i class="fa fa-diamond"></i> <span class="col">Jewe</span>lry</a>
	  <h5 class="col_3 normal"><span>Hotline:</span> <a class="col" href="#">01234</a></h5>
	  <h5 class="col_3 normal"><span>Phone:</span> <a class="col" href="#">(+123) 456-7898</a></h5>
	  <h5 class="col_3 normal"><span>Email:</span> <a class="col" href="#">info@gmail.com</a></h5>
	  <h5 class="col_3 normal"><span>Address:</span> <a class="col" href="#">2190 Clue, The Xronz, OZ 0038, USA</a></h5>
	  <ul class="social-network social-circle">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
	 </div>
	</div>
	<div class="col-sm-3">
	 <div class="footer_1i1 clearfix">
      <h4 class="mgt">Information</h4>
	  <ul>
	   <li class="col_3"><a class="col_3" href="#">About Us</a></li>
	   <li class="col_3"><a class="col_3" href="#">Contact Us</a></li>
	   <li class="col_3"><a class="col_3" href="#">Privacy Policy</a></li>
	   <li class="col_3"><a class="col_3" href="#">Terms &amp; Conditions</a></li>
	   <li class="col_3"><a class="col_3" href="#">Delivery Information</a></li>
	   <li class="col_3"><a class="col_3" href="#">Orders and Returns</a></li>
	  </ul>
	 </div>
	</div>
	<div class="col-sm-3">
	 <div class="footer_1i1 clearfix">
      <h4 class="mgt">Customer Care</h4>
	  <ul>
	   <li class="col_3"><a class="col_3" href="#">Help &amp; FAQs</a></li>
	   <li class="col_3"><a class="col_3" href="#">My Account</a></li>
	   <li class="col_3"><a class="col_3" href="#">Order History</a></li>
	   <li class="col_3"><a class="col_3" href="#">Wishlist</a></li>
	   <li class="col_3"><a class="col_3" href="#">Newsletter</a></li>
	   <li class="col_3"><a class="col_3" href="#">Newsletter</a></li>
	  </ul>
	 </div>
	</div>
	<div class="col-sm-3">
	 <div class="footer_1i1 clearfix">
      <h4 class="mgt">Newsletter</h4>
	  <p class="col_3">Sign up for our mailing list to get the latest updates &amp; offers.</p>
	  <input class="form-control" placeholder="Email address" type="text">
	  <h5><a class="button" href="#"> Subscribe Now</a></h5>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>

<section id="footer_bottom">
 <div class="container">
  <div class="row">
   <div class="footer_2 text-center clearfix">
    <div class="col-sm-12">
	 <p class="mgt col_3">© 2013 Your Website Name. All Rights Reserved | Design by <a class="col_1" href="http://www.templateonweb.com">TemplateOnWeb</a></p>
	</div>
   </div>
  </div>
 </div>
</section>
	
<script>
$(document).ready(function(){
	/*****Fixed Menu******/
	var secondaryNav = $('.cd-secondary-nav'),
	   secondaryNavTopPosition = secondaryNav.offset().top;
		$(window).on('scroll', function(){
			if($(window).scrollTop() > secondaryNavTopPosition ) {
				secondaryNav.addClass('is-fixed');	
			} else {
				secondaryNav.removeClass('is-fixed');
			}
		});	
		
});
</script>

<script>

!function ($) {

    "use strict"; // jshint ;_;


    /* MAGNIFY PUBLIC CLASS DEFINITION
     * =============================== */

    var Magnify = function (element, options) {
        this.init('magnify', element, options)
    }

    Magnify.prototype = {

        constructor: Magnify

        , init: function (type, element, options) {
            var event = 'mousemove'
                , eventOut = 'mouseleave';

            this.type = type
            this.$element = $(element)
            this.options = this.getOptions(options)
            this.nativeWidth = 0
            this.nativeHeight = 0

            this.$element.wrap('<div class="magnify" \>');
            this.$element.parent('.magnify').append('<div class="magnify-large" \>');
            this.$element.siblings(".magnify-large").css("background","url('" + this.$element.attr("src") + "') no-repeat");

            this.$element.parent('.magnify').on(event + '.' + this.type, $.proxy(this.check, this));
            this.$element.parent('.magnify').on(eventOut + '.' + this.type, $.proxy(this.check, this));
        }

        , getOptions: function (options) {
            options = $.extend({}, $.fn[this.type].defaults, options, this.$element.data())

            if (options.delay && typeof options.delay == 'number') {
                options.delay = {
                    show: options.delay
                    , hide: options.delay
                }
            }

            return options
        }

        , check: function (e) {
            var container = $(e.currentTarget);
            var self = container.children('img');
            var mag = container.children(".magnify-large");

            // Get the native dimensions of the image
            if(!this.nativeWidth && !this.nativeHeight) {
                var image = new Image();
                image.src = self.attr("src");

                this.nativeWidth = image.width;
                this.nativeHeight = image.height;

            } else {

                var magnifyOffset = container.offset();
                var mx = e.pageX - magnifyOffset.left;
                var my = e.pageY - magnifyOffset.top;

                if (mx < container.width() && my < container.height() && mx > 0 && my > 0) {
                    mag.fadeIn(100);
                } else {
                    mag.fadeOut(100);
                }

                if(mag.is(":visible"))
                {
                    var rx = Math.round(mx/container.width()*this.nativeWidth - mag.width()/2)*-1;
                    var ry = Math.round(my/container.height()*this.nativeHeight - mag.height()/2)*-1;
                    var bgp = rx + "px " + ry + "px";

                    var px = mx - mag.width()/2;
                    var py = my - mag.height()/2;

                    mag.css({left: px, top: py, backgroundPosition: bgp});
                }
            }

        }
    }


    /* MAGNIFY PLUGIN DEFINITION
     * ========================= */

    $.fn.magnify = function ( option ) {
        return this.each(function () {
            var $this = $(this)
                , data = $this.data('magnify')
                , options = typeof option == 'object' && option
            if (!data) $this.data('tooltip', (data = new Magnify(this, options)))
            if (typeof option == 'string') data[option]()
        })
    }

    $.fn.magnify.Constructor = Magnify

    $.fn.magnify.defaults = {
        delay: 0
    }


    /* MAGNIFY DATA-API
     * ================ */

    $(window).on('load', function () {
        $('[data-toggle="magnify"]').each(function () {
            var $mag = $(this);
            $mag.magnify()
        })
    })

} ( window.jQuery );
	</script>

<script>
	$(document).on('click', '.number-spinner button', function () {    
	var btn = $(this),
		oldValue = btn.closest('.number-spinner').find('input').val().trim(),
		newVal = 0;
	
	if (btn.attr('data-dir') == 'up') {
		newVal = parseInt(oldValue) + 1;
	} else {
		if (oldValue > 1) {
			newVal = parseInt(oldValue) - 1;
		} else {
			newVal = 1;
		}
	}
	btn.closest('.number-spinner').find('input').val(newVal);
});
	</script>
</body>
 
</html>
