@page
@model DiamondStore.Pages.Auth.ForgotPasswordModel
@{
	ViewData["Title"] = "Forgot Password";
}

<section>
    @if (Model.Message != null)
    {
        <div class="alert alert-success" style="width: 50%; margin: 0 auto; text-align: center;">
            <p>@Model.Message  <a href="https://mail.google.com/mail/" style="color: forestgreen;">email</a></p>
        </div>
    }
    else
    {
        if (!ModelState.IsValid)
        {
            <div class="alert alert-danger" style="width: 30%; margin: 0 auto; text-align: center;">
                @foreach (var modelStateEntry in ModelState.Values)
                {
                    foreach (var error in modelStateEntry.Errors)
                    {
                        <p>@error.ErrorMessage</p>
                    }
                }
            </div>
        }
        <div class="wrapper" style="margin: 10px auto">
            <div class="form-container">
                <div class="form-inner">
                    <form method="post">
                        <div class="field">
                            <input asp-for="Input.Email" placeholder="Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="field btn">
                            <div class="btn-layer"></div>
                            <input type="submit" value="Send Password Reset Email">
                        </div>
                        <div class="signup-link">Already a member? <a href="/Login" id="">Sign In</a></div>
                    </form>
                </div>
            </div>
        </div>
        
    }
</section>
