@page
@model DiamondStore.Pages.Auth.ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";
}

<section>
    @if (Model.Message != null)
    {
        <div class="alert alert-success" style="width: 40%; margin: 0 auto; text-align: center;">
            <p>@Model.Message</p>
        </div>
        <div class="wrapper" style="margin: 30px auto 200px">
            <div class="form-container">
                <div class="form-inner">
                    <div class="signup-link"><a href="/Login">Sign In</a></div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="wrapper" style="margin: 10px auto">
            <div class="form-container">
                <div class="form-inner">
                    <form method="post">
                        <input type="hidden" asp-for="Input.Email" />
                        <input type="hidden" asp-for="Input.Token" />

                        <div class="field">
                            <input asp-for="Input.Password" placeholder="New password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>

                        <div class="field">
                            <input asp-for="Input.ConfirmPassword" placeholder="Confirm new password" class="form-control" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>

                        <div class="field btn">
                            <div class="btn-layer"></div>
                            <input type="submit" value="Reset Password">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
</section>
