@page
@model DiamondStore.Pages.BlogModel
@{
    ViewData["Title"] = "Blog";
    Layout = "_Layout";
}
<section id="center" class="center_shop">
    <div class="container">
        <div class="row">
            <div class="center_shop_t clearfix">
                <div class="col-sm-6">
                    <div class="center_shop_tl clearfix">
                        <h4 class="mgt">Blogs</h4>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="center_shop_tr text-right clearfix">
                        <h6 class="col_2">You are here: <a href="/">Home</a> / Blogs</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="blog_1l clearfix">
                    <div class="blog_1li1 mgt clearfix">
                        <h4 class="mgt">Get Connected</h4>
                        <ul class="social-network social-circle">
                            <li><a href="~/BlogDetail" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                            <li><a href="~/BlogDetail" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="~/BlogDetail" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="~/BlogDetail" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="~/BlogDetail" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="blog_1li1 clearfix">
                        <h4 class="mgt">Search The Blog</h4>
                        <div class="input-group">
                            <input type="text" class="form-control form_2" placeholder="Search Here...">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="blog_1li1 clearfix">
                        <h4 class="mgt">Recent Post</h4>
                        <div class="blog_1li1i clearfix">
                            <div class="col-sm-4 space_left">
                                <img src="~/img/1.jpg" class="iw" alt="abc">
                            </div>
                            <div class="col-sm-8 space_all">
                                <h5 class="mgt"><a href="~/BlogDetail">Elegan Tells You The Story Of Beauty</a></h5>
                                <p>Founded in New York City in 1932, by Mr. Harry – an innate...</p>
                                <h6><a class="col_1" href="~/BlogDetail">Read More</a></h6>
                            </div>
                        </div>
                        <div class="blog_1li1i clearfix">
                            <div class="col-sm-4 space_left">
                                <img src="~/img/2.png" class="iw" alt="abc">
                            </div>
                            <div class="col-sm-8 space_all">
                                <h5 class="mgt"><a href="~/BlogDetail">Elegan Tells You The Story Of Beauty</a></h5>
                                <p>Founded in New York City in 1932, by Mr. Harry – an innate...</p>
                                <h6><a class="col_1" href="~/BlogDetail">Read More</a></h6>
                            </div>
                        </div>
                        <div class="blog_1li1i pdb border_none clearfix">
                            <div class="col-sm-4 space_left">
                                <img src="~/img/43.jpg" class="iw" alt="abc">
                            </div>
                            <div class="col-sm-8 space_all">
                                <h5 class="mgt"><a href="~/BlogDetail">Elegan Tells You The Story Of Beauty</a></h5>
                                <p>Founded in New York City in 1932, by Mr. Harry – an innate...</p>
                                <h6><a class="col_1" href="~/BlogDetail">Read More</a></h6>
                            </div>
                        </div>
                    </div>
                    <div class="blog_1li2 clearfix">
                        <h4 class="mgt">Categories</h4>
                        <h6><a href="~/BlogDetail"><i class="fa fa-circle-o"></i> SITE TEMPLATE<span class="pull-right">(09)</span></a></h6>
                        <h6><a href="~/BlogDetail"><i class="fa fa-circle-o"></i> CREATIVE PSD<span class="pull-right">(10)</span></a></h6>
                        <h6><a href="~/BlogDetail"><i class="fa fa-circle-o"></i> USER INTERFACE<span class="pull-right">(08)</span></a></h6>
                        <h6 class="pdb border_none"><a href="~/BlogDetail"><i class="fa fa-circle-o"></i> PHOTOSHOP DESIGNS<span class="pull-right">(08)</span></a></h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="blog_1r clearfix">
                    <div class="blog_h_1 mgt clearfix">
                        <div class="col-sm-6">
                            <div class="blog_h_1l clearfix">
                                <img src="~/img/48.jpg" class="iw" alt="abc">
                                <h5>ELEGAN TELLS YOU THE STORY OF BEAUTY</h5>
                                <p>Founded in New York City in 1932, by Mr. Harry – an innate gemologist, an intuitive business man,...</p>
                                <ul>
                                    <li><a href="~/BlogDetail"><i class="fa fa-user col_1"></i> Eget Nulla</a></li>
                                    <li><a href="~/BlogDetail"><i class="fa fa-calendar col_1"></i> May 27, 2018</a></li>
                                    <li><a href="~/BlogDetail"><i class="fa fa-bars col_1"></i> The Nest</a></li>
                                    <li><a href="~/BlogDetail"><i class="fa fa-comments col_1"></i> 6 Comment</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="blog_h_1r clearfix">
                                <h4 class="mgt">RECENT BLOG POST</h4><br>
                                <div class="blog_h_1ri clearfix">
                                    <h5><a href="~/BlogDetail">ELEGAN TELLS YOU THE STORY OF BEAUTY</a></h5>
                                    <ul>
                                        <li>10 July 2018 </li>
                                        <li> New User </li>
                                        <li class="border_none"><a href="~/BlogDetail">Site Semper</a></li>
                                    </ul>
                                    <p>Founded in New York City in 1932, by Mr. Harry – an innate gemologist, an intuitive business man,...</p>
                                    <h5><a class="button mgt" href="~/BlogDetail">Read More</a></h5>
                                </div>
                                <div class="blog_h_1ri pdb border_none clearfix">
                                    <h5><a href="~/BlogDetail">ELEGAN TELLS YOU THE STORY OF BEAUTY</a></h5>
                                    <ul>
                                        <li>10 July 2018 </li>
                                        <li> New User </li>
                                        <li class="border_none"><a href="~/BlogDetail">Site Semper</a></li>
                                    </ul>
                                    <p>Founded in New York City in 1932, by Mr. Harry – an innate gemologist, an intuitive business man,...</p>
                                    <h5><a class="button mgt" href="~/BlogDetail">Read More</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Repeat for more blog posts -->
                </div>
            </div>
        </div>
    </div>
</section>