@page
@model DiamondStore.Pages.ServicesModel
@{
    ViewData["Title"] = "Diamond Info";
    Layout = "_Layout";
}

<section id="center" class="center_shop"> 
    <div class="container">
        <div class="row">
            <div class="center_shop_t clearfix">
                <div class="col-sm-6">
                    <div class="center_shop_tl clearfix">
                        <h4 class="mgt">Diamond Info</h4>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="center_shop_tr text-right clearfix">
                        <h6 class="col_2">You are here: <a href="/">Home</a> / DiamondInfo</h6>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</section>

<section id="example_h">
    <div class="container">
        <div class="row">
            <h2 class="text-center mt-4">GIÁ KIM CƯƠNG - NHỮNG THÔNG TIN BẠN CẦN BIẾT</h2>
            <section>
                <h3>GIÁ KIM CƯƠNG</h3>
                <p>
                    Bạn đang suy nghĩ về việc mua một viên Kim Cương? Bạn đã chuẩn bị ngân sách nhất định cho chiếc nhẫn Kim Cương mới của mình?
                    Và mục tiêu của bạn là có được viên Kim Cương chất lượng tốt, đẹp và sáng nhất với mức ngân sách đó.
                    Chúng tôi sẽ hướng dẫn bạn chính xác để mua được viên Kim Cương như ý. Trước khi chúng ta đi sâu hơn, đây là giá Kim Cương hiện tại mà bạn nên tham khảo qua:
                </p>
                <p>
                    Như bạn có thể thấy, phạm vi giá thay đổi khá nhiều, ngay cả đối với những viên Kim Cương có cùng kích thước carat.
                    Giá tham khảo của chúng tôi luôn đạt được sự cân bằng tốt nhất về chất lượng và vẻ đẹp của một viên Kim Cương.
                    Ngoài ra, giá trên là dành cho một viên Kim Cương tròn. Các hình dạng Kim Cương khác có thể thấp hơn tới 20 - 40% so với Kim Cương tròn.
                </p>
            </section>

            <section>
                <h3>Quy tắc cơ bản khi mua Kim Cương</h3>
                <p>
                    Khi nói về giá Kim Cương, điều quan trọng là bạn phải hiểu và xác định điều gì quan trọng đối với mình khi mua một viên Kim Cương.
                    Lấy một viên Kim Cương 1 carat màu G VS1 tuyệt đẹp và so sánh nó với viên 1 carat màu E VVS2, nhìn sơ bạn sẽ không thấy bất kỳ sự khác biệt giữa 2 viên này,
                    nhưng nhìn qua giá sẽ thấy sự chênh lệch lên đến 20%. Không có 2 viên Kim Cương nào giống nhau hoàn toàn, chúng ta sẽ điểm qua tất cả các yêu tố quyết định đến giá bán của một viên Kim Cương,
                    những bí mật trong ngành về giá Kim Cương mà ít ai nói đến.
                </p>
                <h4>1. Chất lượng (4C):</h4>
                <ul>
                    <li>Trọng lượng (Carat)</li>
                    <li>Màu sắc (Color)</li>
                    <li>Tinh khiết (Clarity)</li>
                    <li>Giác cắt (Cut)</li>
                </ul>
                <p>
                    4 yếu tố này sẽ xác định giá trị của một viên Kim Cương. Ngoài trọng lượng là yếu tố có thể phân biệt bằng mắt thường thì màu sắc và độ tinh khiết đôi khi phải cần thiết bị chuyên dụng để phân biệt.
                    Nếu tất cả những gì bạn cần là một viên Kim Cương tự nhiên trắng và đẹp thì chúng tôi khuyên bạn chọn màu H và VS2 là đủ. Tiêu chuẩn 4C kết hợp lại để xác định vẻ đẹp tổng thể và giá tiền của một viên Kim Cương.
                    Nhưng điều đó không có nghĩa là mỗi C đều có giá trị ngang nhau. Một số suy nghĩ sai lầm phổ biến:
                </p>
                <ul>
                    <li>Không phải mua một viên Kim Cương có màu sắc và độ tinh khiết cao thì nó sẽ làm cho viên Kim Cương sáng hơn. Còn rất nhiều yếu tố quyết định đến độ sáng rực của Kim Cương.</li>
                    <li>Đừng đặt ưu tiên quá cao cho kích thước (Carat) và sau đó phải từ bỏ những yếu tố khác để tối ưu ngân sách, dẫn đến mua một viên kim cương xỉn màu, chất lượng kém.</li>
                </ul>
                <div class="text-center">
                    <img src="https://kitadiamonds.com.vn/contents_kita/uploads/images/Brochure-diamond-1.png" alt="carat kim cương" class="img-fluid" />
                </div>
            </section>

            <section>
                <h4>2. Chứng nhận:</h4>
                <p>
                    Điều cực kỳ quan trọng là bạn chỉ nên mua Kim Cương được chứng nhận bởi phòng kiểm định uy tín.
                    Chứng nhận quốc tế là cách bạn biết rằng mình đã trả tiền đúng chất lượng, đúng giá trị.
                    Những viên Kim Cương được chứng nhận bởi HRD và GIA luôn là 2 phòng kiểm định có tiêu chuẩn phân loại cao nhất, nổi tiếng toàn thế giới.
                </p>
            </section>

            <section>
                <h4>3. Giá Kim Cương được tính theo carat:</h4>
                <p>
                    Giá mỗi carat tăng theo cấp số nhân khi bạn tăng trọng lượng carat. Ví dụ: một viên Kim Cương tròn 0,25 carat có giá khởi điểm khoảng 400$
                    và một viên kim cương tròn 0,5 carat có giá khởi điểm khoảng 900 USD. Nhưng một viên kim cương tròn 1 carat có giá lên tới hơn 4.000 USD.
                </p>
            </section>

            <section>
                <h4>4. Giá Kim Cương có tăng theo thời gian?</h4>
                <p>
                    Có thể bạn đang tự hỏi liệu một viên Kim Cương có phải là một khoản đầu tư tốt hay không và liệu giá trị của nó có tăng cao hay không.
                    Nhìn vào bảng dữ liệu lịch sử cho thấy giá Kim Cương tăng trung bình 4%/năm trong 10 năm qua. Đây là một con số đáng để đầu tư,
                    tuy nhiên những năm gần đây, giá Kim Cương đang giữ ở mức trung bình, không còn tăng dần đều theo thời gian.
                </p>
                <div class="text-center">
                    <img src="https://kitadiamonds.com.vn/contents_kita/uploads/images/gia-kim-cuong-cac-nam.png" alt="giá kim cương" class="img-fluid" />
                </div>
            </section>

            <section>
                <h4>Carat có phải là yếu tố quan trọng nhất?</h4>
                <p>
                    Hầu hết mọi người ưu tiên carat. Đó là lý do tại sao nó đứng đầu trong danh sách 4C. Tuy nhiên theo tôi, nó chưa hẳn là quan trọng nhất.
                    Carat nhìn chung là dễ nhận biết nhất trong tiêu chuẩn 4C. Hầu hết ai nhìn vào đều nói "Chà, viên Kim Cương này to quá!" thay vì "Chà, viên Kim Cương này không màu và hoàn hảo!"
                </p>
                <p>
                    Vậy chính xác thì carat là gì? Carat đề cập đến trọng lượng của viên kim cương. Một carat tương đương khoảng 0,2 gam, gần bằng trọng lượng của một chiếc kẹp giấy.
                    Trọng lượng carat càng nặng thì viên kim cương càng lớn. Carat có tác động lớn nhất đến giá kim cương. Điều này là do ngày càng hiếm tìm được Kim Cương thô đủ lớn để cắt ra những viên Kim Cương lớn hơn.
                </p>
            </section>

            <section>
                <h4>Màu sắc có quan trọng không?</h4>
                <p>
                    Rất nhiều người cho rằng màu sắc và độ tinh khiết ảnh hưởng tới độ sáng của viên Kim Cương. Trên thực tế, nó không liên quan nhiều đến độ sáng.
                    Tuy nhiên, màu sắc vẫn ảnh hưởng tới vẻ đẹp tổng thể của trang sức Kim Cương. Màu sắc đề cập đến một chút màu vàng trong kim cương không màu.
                    Màu sắc (Color) dao động từ D (hoàn toàn không màu) đến Z (màu vàng/nâu rõ ràng). Những viên kim cương không màu thực sự cực kỳ hiếm và do đó có giá cao.
                    Hầu hết các viên kim cương đều có tông màu hơi vàng, nhưng hầu hết không thể phát hiện được bằng mắt thường.
                    Sự khác biệt về giá khi bạn tăng và giảm các cấp màu thực sự đáng kinh ngạc (chênh lệch đến 10%).
                    Chúng tôi khuyên bạn nên chọn màu H cho những món trang sức bằng vàng trắng cao cấp, màu H thuộc nhóm gần như không màu nên giá thành rẻ hơn.
                    Đối với vàng, bạn có thể chọn Kim Cương màu J hoặc K sẽ đẹp tổng thể.
                </p>
                <div class="text-center">
                    <img src="https://kitadiamonds.com.vn/contents_kita/uploads/images/Brochure-diamond-2.png" alt="màu sắc kim cương" class="img-fluid" />
                </div>
            </section>

            <section>
                <h4>Độ tinh khiết không quan trọng như bạn nghĩ</h4>
                <p>
                    Độ tinh khiết đề cập đến những khuyết điểm trên một viên Kim Cương. Có hai loại khuyết điểm thường gặp: tạp chất bên trong và khuyết điểm trên bề mặt.
                    Thực sự không có vấn đề gì nếu viên Kim Cương của bạn có khuyết điểm. Clarity là tiêu chuẩn không thể nhìn thấy hầu hết các khuyết điểm bằng mắt thường.
                    Cấp độ clarity được chỉ định dựa trên những khuyết điểm có thể được nhìn thấy dưới độ phóng đại 10 lần.
                    Trên thực tế, bình thường sẽ không ai soi chiếc nhẫn hay món trang sức Kim Cương của bạn kỹ đến vậy.
                    Để tiết kiệm bạn chỉ cần chọn VS2, nếu ngân sách bạn không hạn chế hãy lựa chọn VVS1 hoặc IF.
                    Như bạn có thể thấy, sự khác biệt về giá Kim cương khi độ tinh khiết tăng lên đáng kinh ngạc.
                    Những viên Kim Cương hoàn hảo bên trong được định giá rất cao vì độ hiếm của chúng.
                    Nhưng cũng giống như màu sắc, bạn sẽ không thể đánh giá cao điều này vì không thể nhìn thấy được sự khác biệt lớn.
                </p>
            </section>

            <section>
                <h4>Tại sao nên lưu ý đến giác cắt</h4>
                <p>
                    Bây giờ chúng tôi đang nói điều này và có lẽ chúng tôi sẽ nói nhiều hơn nữa trước khi kết thúc bài viết này.
                    Giác cắt kim cương chính là yếu tố quan trọng nhất quyết định độ sáng và bạn đừng bao giờ bỏ qua yếu tố này.
                    Kim Cương có sáng bóng và lấp lánh hay không chính là nhờ giác cắt, nó đề cập đến tỷ lệ, tính đối xứng và độ bóng của Kim Cương (không phải là hình dạng).
                    Như bạn cũng biết, một viên Kim Cương thô không có độ sáng bóng, nó chỉ lấp lánh được đến khi cắt và cách ánh sáng phản xạ từng góc cạnh.
                </p>
                <p>
                    Một viên Kim Cương được cắt kém, tia sáng sẽ khúc xạ kém và do đó trông xỉn màu.
                    Trong khi một viên Kim Cương được cắt đẹp sẽ phản chiếu ánh sáng và trông cực kỳ rực rỡ.
                    Trên thực tế, một vết cắt không tốt có thể khiến viên Kim Cương trông nhỏ hơn.
                    Giác cắt Super Ideal hoặc Excellent sẽ không thấy sự khác biệt nhiều.
                    Thật sự nếu thêm tiền để có được giác cắt Excellent cũng rất xứng đáng vì sự khác biệt chất lượng rất rõ ràng.
                    Bạn không chỉ nhận được một viên Kim Cương lấp lánh mà còn có thể giảm bớt một chút ở các chữ C khác - và tiết kiệm tiền nhiều hơn!
                </p>
                <p>
                    Hình dạng của Kim Cương cũng tạo ra sự khác biệt: Kim Cương tròn là loại đắt nhất và truyền thống nhất nhờ có độ sáng chói đáng kinh ngạc.
                    Nhưng nếu bạn cần một hình dạng độc đáo, hãy xem xét các kiểu dáng kim cương khác vì chúng đều rẻ hơn hình tròn.
                </p>
            </section>

            <section>
                <h4>Giá trị chứng nhận Quốc Tế</h4>
                <p>
                    Chứng thư cực kỳ quan trọng, đến mức nó thường được coi là C thứ 5.
                    Cả hai phòng kiểm định & phân loại Kim Cương HRD và GIA đều có tiêu chí và chấm điểm riêng.
                    Được xem là hai nơi chứng nhận được đánh giá cao nhất trên toàn thế giới và có tiêu chuẩn chấm điểm nhất quán nhất.
                </p>
                <p>
                    Chúng tôi hy vọng bài viết này đem đến những thông tin đáng giá để bạn hiểu và nắm rõ viên Kim Cương mình dự định mua.
                    Hân hạnh được đón tiếp Quý Khách Hàng đến tham quan và mua sắm Kim Cương.
                </p>
            </section>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/jquery-2.1.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            /*****Fixed Menu******/
            var secondaryNav = $('.cd-secondary-nav'),
                secondaryNavTopPosition = secondaryNav.offset().top;
            $(window).on('scroll', function(){
                if($(window).scrollTop() > secondaryNavTopPosition ) {
                    secondaryNav.addClass('is-fixed');    
                } else {
                    secondaryNav.removeClass('is-fixed');
                }
            });    
        });
    </script>
}

