@page
@model DiamondStore.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}

<section id="center" class="center_home">
    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
        <!-- Overlay -->
        <div class="overlay"></div>

        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#bs-carousel" data-slide-to="1" class=""></li>
            <li data-target="#bs-carousel" data-slide-to="2" class=""></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item slides active">
                <div class="slide-1"></div>
                <div class="hero">
                    <h1 class="mgt">Jewelry Theme</h1>
                    <hr>
                    <p>Nulla quis sem at nibh elementum imperdiet <br> lacinia arcu eget nulla!</p>
                    <h4><a class="button" href="#">View More</a></h4>
                    <h4><a class="button_1" href="#"> More Detail</a></h4>
                </div>
            </div>
            <div class="item slides">
                <div class="slide-2"></div>
                <div class="hero hero_1">
                    <h1 class="mgt">Dolore Magna</h1>
                    <hr>
                    <p>Nulla quis sem at nibh elementum imperdiet <br> lacinia arcu eget nulla!</p>
                    <h4><a class="button" href="#">View More</a></h4>
                    <h4><a class="button_1" href="#"> More Detail</a></h4>
                </div>
            </div>
            <div class="item slides">
                <div class="slide-3"></div>
                <div class="hero">
                    <h1 class="mgt">Fusce Tellus </h1>
                    <hr>
                    <p>Nulla quis sem at nibh elementum imperdiet <br> lacinia arcu eget nulla!</p>
                    <h4><a class="button" href="#">View More</a></h4>
                    <h4><a class="button_1" href="#"> More Detail</a></h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="list">
    <div class="container">
        <div class="row">
            <div class="list_1 clearfix">
                <div class="col-sm-3 space_all">
                    <div class="list_1i text-center clearfix">
                        <span><i class="fa fa-thumbs-o-up"></i></span>
                        <h4><a href="#">Quality Jewelry</a></h4>
                        <hr>
                        <p>We are proud to release the best products for our beloved customers.</p>
                        <h5 class="normal"><a class="button_1" href="#">READ MORE</a></h5>
                    </div>
                </div>
                <div class="col-sm-3 space_all">
                    <div class="list_1i text-center clearfix">
                        <span><i class="fa fa-rocket"></i></span>
                        <h4><a href="#">Delivery</a></h4>
                        <hr>
                        <p>We are proud to release the best products for our beloved customers.</p>
                        <h5 class="normal"><a class="button_1" href="#">READ MORE</a></h5>
                    </div>
                </div>
                <div class="col-sm-3 space_all">
                    <div class="list_1i text-center clearfix">
                        <span><i class="fa fa-leaf"></i></span>
                        <h4><a href="#">Best Service</a></h4>
                        <hr>
                        <p>We are proud to release the best products for our beloved customers.</p>
                        <h5 class="normal"><a class="button_1" href="#">READ MORE</a></h5>
                    </div>
                </div>
                <div class="col-sm-3 space_all">
                    <div class="list_1i text-center clearfix">
                        <span><i class="fa fa-money"></i></span>
                        <h4><a href="#">Guarantee</a></h4>
                        <hr>
                        <p>We are proud to release the best products for our beloved customers.</p>
                        <h5 class="normal"><a class="button_1" href="#">READ MORE</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="feature">
    <div class="container">
        <div class="row">
            <div class="feature_1 text-center clearfix">
                <div class="col-sm-12">
                    <h3 class="mgt">PROMOTIONS PRODUCTS</h3>
                    <hr>
                </div>
            </div>
            <div class="feature_2 clearfix">
                <div id="carousel-example" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-3">
                                <div class="feature_2im clearfix">
                                    <div class="feature_2im1 clearfix">
                                        <a href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6HxQW9EErLDWam718Yjy1dXO_N0OB669zyw&s" class="iw" alt="abc"></a>
                                    </div>
                                    <div class="feature_2im2 clearfix">
                                        <h6 class="mgt"><a class="bg_1" href="#">Featured</a></h6>
                                        <h6 class="pull-right mgt"><a class="bg_2" href="#">Hot</a></h6>
                                    </div>
                                    <div class="feature_2im4 clearfix">
                                        <div class="col-sm-6 space_left">
                                            <h6><a class="bg_3" href="#">Popular</a></h6>
                                        </div>
                                        <div class="col-sm-6 feature_2im4r space_right">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                                <li><a href="#"><i class="fa fa-rocket"></i></a></li>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="item_last text-center clearfix">
                                    <h4><a href="#">Fusce Nec Tellus</a></h4>
                                    <h6>
                                        <span class="span_1 col_1 bold">$14.64</span>
                                        <span class="col_2 span_2">$16.30</span>
                                        <span>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </span>
                                    </h6>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="feature_2im clearfix">
                                    <div class="feature_2im1 clearfix">
                                        <a href="#"><img src="https://cdn.pnj.io/images/thumbnails/300/300/detailed/210/sp-gbrbxmy000301-bong-tai-vang-18k-dinh-da-ruby-pnj-1.png" class="iw" alt="abc"></a>
                                    </div>
                                    <div class="feature_2im2 clearfix">
                                        <h6 class="mgt"><a class="bg_1" href="#">Featured</a></h6>
                                        <h6 class="pull-right mgt"><a class="bg_4" href="#">Sale</a></h6>
                                    </div>
                                    <div class="feature_2im4 clearfix">
                                        <div class="col-sm-6 space_left">
                                            <h6><a class="bg_3" href="#">Popular</a></h6>
                                        </div>
                                        <div class="col-sm-6 feature_2im4r space_right">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                                <li><a href="#"><i class="fa fa-rocket"></i></a></li>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="item_last text-center clearfix">
                                    <h4><a href="#">Nulla Quis Sem </a></h4>
                                    <h6>
                                        <span class="span_1 col_1 bold">$14.64</span>
                                        <span class="col_2 span_2">$16.30</span>
                                        <span>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </span>
                                    </h6>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="feature_2im clearfix">
                                    <div class="feature_2im1 clearfix">
                                        <a href="#"><img src="https://cdn.pnj.io/images/thumbnails/300/300/detailed/204/sp-glxmxmy001012-lac-tay-vang-18k-dinh-da-ecz-pnj-1.png" class="iw" alt="abc"></a>
                                    </div>
                                    <div class="feature_2im2 clearfix">
                                        <h6 class="mgt"><a class="bg_1" href="#">Featured</a></h6>
                                        <h6 class="pull-right mgt"><a class="bg_2" href="#">Hot</a></h6>
                                    </div>
                                    <div class="feature_2im4 clearfix">
                                        <div class="col-sm-6 space_left">
                                            <h6><a class="bg_3" href="#">Popular</a></h6>
                                        </div>
                                        <div class="col-sm-6 feature_2im4r space_right">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                                <li><a href="#"><i class="fa fa-rocket"></i></a></li>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="item_last text-center clearfix">
                                    <h4><a href="#">Nibh Elementum</a></h4>
                                    <h6>
                                        <span class="span_1 col_1 bold">$14.64</span>
                                        <span class="col_2 span_2">$16.30</span>
                                        <span>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </span>
                                    </h6>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="feature_2im clearfix">
                                    <div class="feature_2im1 clearfix">
                                        <a href="#"><img src="https://res.cloudinary.com/dkfag0frg/image/upload/v1721472138/u2plauwmb5ci5awic0wc.jpg" class="iw" alt="abc"></a>
                                    </div>
                                    <div class="feature_2im2 clearfix">
                                        <h6 class="mgt"><a class="bg_1" href="#">Featured</a></h6>
                                        <h6 class="pull-right mgt"><a class="bg_2" href="#">Hot</a></h6>
                                    </div>
                                    <div class="feature_2im4 clearfix">
                                        <div class="col-sm-6 space_left">
                                            <h6><a class="bg_3" href="#">Popular</a></h6>
                                        </div>
                                        <div class="col-sm-6 feature_2im4r space_right">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                                <li><a href="#"><i class="fa fa-rocket"></i></a></li>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="item_last text-center clearfix">
                                    <h4><a href="#">Vestibulum Lacinia</a></h4>
                                    <h6>
                                        <span class="span_1 col_1 bold">$14.64</span>
                                        <span class="col_2 span_2">$16.30</span>
                                        <span>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-3">
                                <div class="feature_2im clearfix">
                                    <div class="feature_2im1 clearfix">
                                        <a href="#"><img src="https://res.cloudinary.com/dkfag0frg/image/upload/v1721472158/rsecqife0jgsd4gns3kv.jpg" class="iw" alt="abc"></a>
                                    </div>
                                    <div class="feature_2im2 clearfix">
                                        <h6 class="mgt"><a class="bg_1" href="#">Featured</a></h6>
                                        <h6 class="pull-right mgt"><a class="bg_2" href="#">Hot</a></h6>
                                    </div>
                                    <div class="feature_2im4 clearfix">
                                        <div class="col-sm-6 space_left">
                                            <h6><a class="bg_3" href="#">Popular</a></h6>
                                        </div>
                                        <div class="col-sm-6 feature_2im4r space_right">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                                <li><a href="#"><i class="fa fa-rocket"></i></a></li>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="item_last text-center clearfix">
                                    <h4><a href="#">Vestibulum Lacinia</a></h4>
                                    <h6>
                                        <span class="span_1 col_1 bold">$14.64</span>
                                        <span class="col_2 span_2">$16.30</span>
                                        <span>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </span>
                                    </h6>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="feature_2im clearfix">
                                    <div class="feature_2im1 clearfix">
                                        <a href="#"><img src="https://cdn.pnj.io/images/thumbnails/300/300/detailed/204/sp-glxmxmy001012-lac-tay-vang-18k-dinh-da-ecz-pnj-1.png" class="iw" alt="abc"></a>
                                    </div>
                                    <div class="feature_2im2 clearfix">
                                        <h6 class="mgt"><a class="bg_1" href="#">Featured</a></h6>
                                        <h6 class="pull-right mgt"><a class="bg_4" href="#">Sale</a></h6>
                                    </div>
                                    <div class="feature_2im4 clearfix">
                                        <div class="col-sm-6 space_left">
                                            <h6><a class="bg_3" href="#">Popular</a></h6>
                                        </div>
                                        <div class="col-sm-6 feature_2im4r space_right">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                                <li><a href="#"><i class="fa fa-rocket"></i></a></li>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="item_last text-center clearfix">
                                    <h4><a href="#">Nibh Elementum</a></h4>
                                    <h6>
                                        <span class="span_1 col_1 bold">$14.64</span>
                                        <span class="col_2 span_2">$16.30</span>
                                        <span>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </span>
                                    </h6>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="feature_2im clearfix">
                                    <div class="feature_2im1 clearfix">
                                        <a href="#"><img src="https://cdn.pnj.io/images/thumbnails/300/300/detailed/210/sp-gbrbxmy000301-bong-tai-vang-18k-dinh-da-ruby-pnj-1.png" class="iw" alt="abc"></a>
                                    </div>
                                    <div class="feature_2im2 clearfix">
                                        <h6 class="mgt"><a class="bg_1" href="#">Featured</a></h6>
                                        <h6 class="pull-right mgt"><a class="bg_2" href="#">Hot</a></h6>
                                    </div>
                                    <div class="feature_2im4 clearfix">
                                        <div class="col-sm-6 space_left">
                                            <h6><a class="bg_3" href="#">Popular</a></h6>
                                        </div>
                                        <div class="col-sm-6 feature_2im4r space_right">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                                <li><a href="#"><i class="fa fa-rocket"></i></a></li>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="item_last text-center clearfix">
                                    <h4><a href="#">Nulla Quis Sem</a></h4>
                                    <h6>
                                        <span class="span_1 col_1 bold">$14.64</span>
                                        <span class="col_2 span_2">$16.30</span>
                                        <span>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </span>
                                    </h6>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="feature_2im clearfix">
                                    <div class="feature_2im1 clearfix">
                                        <a href="#"><img src="https://res.cloudinary.com/dkfag0frg/image/upload/v1721471491/ae7ogcw1xegbjg1xxgij.jpg" class="iw" alt="abc"></a>
                                    </div>
                                    <div class="feature_2im2 clearfix">
                                        <h6 class="mgt"><a class="bg_1" href="#">Featured</a></h6>
                                        <h6 class="pull-right mgt"><a class="bg_2" href="#">Hot</a></h6>
                                    </div>
                                    <div class="feature_2im4 clearfix">
                                        <div class="col-sm-6 space_left">
                                            <h6><a class="bg_3" href="#">Popular</a></h6>
                                        </div>
                                        <div class="col-sm-6 feature_2im4r space_right">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                                <li><a href="#"><i class="fa fa-rocket"></i></a></li>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="item_last text-center clearfix">
                                    <h4><a href="#">Fusce Nec Tellus</a></h4>
                                    <h6>
                                        <span class="span_1 col_1 bold">$14.64</span>
                                        <span class="col_2 span_2">$16.30</span>
                                        <span>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="feature_2_last text-center clearfix">
                    <div class="col-sm-12">
                        <!-- Controls -->
                        <div class="controls">
                            <a class="left fa fa-chevron-left btn btn-success" href="#carousel-example" data-slide="prev"></a>
                            <a class="right fa fa-chevron-right btn btn-success" href="#carousel-example" data-slide="next"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="collect">
    <div class="container">
        <div class="row">
            <div class="feature_1 text-center clearfix">
                <div class="col-sm-12">
                    <h3 class="mgt">NEW COLLECTIONS</h3>
                    <hr>
                </div>
            </div>
            <div class="collect_top text-center clearfix">
                <div class="col-sm-12">
                    <ul class="nav_tab_1 mgt">
                        <li class="active"><a data-toggle="tab" href="#home">ALL PROJECT </a></li>
                        <li class=""><a data-toggle="tab" href="#menu1">NEW </a></li>
                        <li><a data-toggle="tab" href="#menu2">POPULAR </a></li>
                        <li class=""><a data-toggle="tab" href="#menu3">TRENDING </a></li>
                        <li class=""><a data-toggle="tab" href="#menu4">TOP RATED </a></li>
                        <li class=""><a data-toggle="tab" href="#menu5">RECENT </a></li>
                    </ul>
                </div>
            </div>
            <div class="tab-content clearfix">
                <div id="home" class="tab-pane fade  clearfix active in">
                    <div class="click clearfix">
                        <div class="collcet_1 clearfix">
                            <div class="col-sm-6">
                                <div class="collcet_1l clearfix">
                                    <div class="feature_2im clearfix">
                                        <div class="feature_2im1 clearfix">
                                            <a href="#"><img src="~/img/16.jpg" class="iw" alt="abc"></a>
                                        </div>
                                        <div class="feature_2im2 clearfix">
                                            <h6 class="mgt"><a class="bg_1" href="#">Featured</a></h6>
                                            <h6 class="pull-right mgt"><a class="bg_4" href="#">Sale</a></h6>
                                        </div>
                                        <div class="feature_2im4 clearfix">
                                            <div class="col-sm-6 space_left">
                                                <h6><a class="bg_3" href="#">Popular</a></h6>
                                            </div>
                                            <div class="col-sm-6 feature_2im4r text-right">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-rocket"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item_last text-center clearfix">
                                        <h4><a href="#">Nulla Quis Sem </a></h4>
                                        <h6>
                                            <span class="span_1 col_1 bold">$14.64</span>
                                            <span class="col_2 span_2">$16.30</span>
                                            <span>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </span>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="collcet_1r mgt clearfix">
                                    <div class="col-sm-6 space_left">
                                        <div class="feature_2im clearfix">
                                            <div class="feature_2im1 clearfix">
                                                <a href="#"><img src="~/img/8.jpg" class="iw" alt="abc"></a>
                                            </div>
                                            <div class="feature_2im2 clearfix">
                                                <h6 class="mgt"><a class="bg_1" href="#">Featured</a></h6>
                                                <h6 class="pull-right mgt"><a class="bg_4" href="#">Sale</a></h6>
                                            </div>
                                            <div class="feature_2im4 clearfix">
                                                <div class="col-sm-6 space_left">
                                                    <h6><a class="bg_3" href="#">Popular</a></h6>
                                                </div>
                                                <div class="col-sm-6 feature_2im4r space_right">
                                                    <ul>
                                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-rocket"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item_last text-center clearfix">
                                            <h4><a href="#">Nibh Elementum</a></h4>
                                            <h6>
                                                <span class="span_1 col_1 bold">$14.64</span>
                                                <span class="col_2 span_2">$16.30</span>
                                                <span>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </span>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 space_left">
                                        <div class="feature_2im clearfix">
                                            <div class="feature_2im1 clearfix">
                                                <a href="#"><img src="~/img/9.jpg" class="iw" alt="abc"></a>
                                            </div>
                                            <div class="feature_2im2 clearfix">
                                                <h6 class="mgt"><a class="bg_1" href="#">Featured</a></h6>
                                                <h6 class="pull-right mgt"><a class="bg_2" href="#">Hot</a></h6>
                                            </div>
                                            <div class="feature_2im4 clearfix">
                                                <div class="col-sm-6 space_left">
                                                    <h6><a class="bg_3" href="#">Popular</a></h6>
                                                </div>
                                                <div class="col-sm-6 feature_2im4r space_right">
                                                    <ul>
                                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-rocket"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item_last text-center clearfix">
                                            <h4><a href="#">Vestibulum Lacinia</a></h4>
                                            <h6>
                                                <span class="span_1 col_1 bold">$14.64</span>
                                                <span class="col_2 span_2">$16.30</span>
                                                <span>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </span>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="collcet_1r clearfix">
                                    <div class="col-sm-6 space_left">
                                        <div class="feature_2im clearfix">
                                            <div class="feature_2im1 clearfix">
                                                <a href="#"><img src="~/img/10.jpg" class="iw" alt="abc"></a>
                                            </div>
                                            <div class="feature_2im2 clearfix">
                                                <h6 class="mgt"><a class="bg_1" href="#">Featured</a></h6>
                                                <h6 class="pull-right mgt"><a class="bg_4" href="#">Sale</a></h6>
                                            </div>
                                            <div class="feature_2im4 clearfix">
                                                <div class="col-sm-6 space_left">
                                                    <h6><a class="bg_3" href="#">Popular</a></h6>
                                                </div>
                                                <div class="col-sm-6 feature_2im4r space_right">
                                                    <ul>
                                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-rocket"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item_last text-center clearfix">
                                            <h4><a href="#">Nulla Quis Sem</a></h4>
                                            <h6>
                                                <span class="span_1 col_1 bold">$14.64</span>
                                                <span class="col_2 span_2">$16.30</span>
                                                <span>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </span>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 space_left">
                                        <div class="feature_2im clearfix">
                                            <div class="feature_2im1 clearfix">
                                                <a href="#"><img src="~/img/11.jpg" class="iw" alt="abc"></a>
                                            </div>
                                            <div class="feature_2im2 clearfix">
                                                <h6 class="mgt"><a class="bg_1" href="#">Featured</a></h6>
                                                <h6 class="pull-right mgt"><a class="bg_2" href="#">Hot</a></h6>
                                            </div>
                                            <div class="feature_2im4 clearfix">
                                                <div class="col-sm-6 space_left">
                                                    <h6><a class="bg_3" href="#">Popular</a></h6>
                                                </div>
                                                <div class="col-sm-6 feature_2im4r space_right">
                                                    <ul>
                                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-rocket"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item_last text-center clearfix">
                                            <h4><a href="#">Vestibulum Lacinia</a></h4>
                                            <h6>
                                                <span class="span_1 col_1 bold">$14.64</span>
                                                <span class="col_2 span_2">$16.30</span>
                                                <span>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </span>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="feature_2_last text-center clearfix">
                    <div class="col-sm-12">
                        <!-- Controls -->
                        <div class="controls">
                            <a class="left fa fa-chevron-left btn btn-success" href="#carousel-example" data-slide="prev"></a>
                            <a class="right fa fa-chevron-right btn btn-success" href="#carousel-example" data-slide="next"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="enquiry">
    <div class="container">
        <div class="row">
            <div class="enquiry_1 text-center clearfix">
                <div class="col-sm-12">
                    <h4 class="mgt">NEWSLETTER</h4>
                    <p>Subscribe to our newsletter and get <span class="col_1">20%</span> off your first purchase</p>
                    <div class="input-group">
                        <input type="text" class="form-control form_2" placeholder="Your Email">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">SUBSCRIBE</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(document).ready(function () {
            /*****Fixed Menu******/
            var secondaryNav = $('.cd-secondary-nav'),
                secondaryNavTopPosition = secondaryNav.offset().top;
            $(window).on('scroll', function () {
                if ($(window).scrollTop() > secondaryNavTopPosition) {
                    secondaryNav.addClass('is-fixed');
                } else {
                    secondaryNav.removeClass('is-fixed');
                }
            });
        });
    </script>
}
