@page
@model DiamondStore.Pages.ProductModel

@{
    Layout = "_Layout";
}

<section id="center" class="center_shop">
    <div class="container">
        <div class="row">
            <div class="center_shop_t clearfix">
                <div class="col-sm-6">
                    <div class="center_shop_tl clearfix">
                        <h4 class="mgt">Product</h4>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="center_shop_tr text-right clearfix">
                        <h6 class="col_2">You are here: <a href="~/">Home</a> / Product</h6>
                    </div>
                </div>
            </div>
            <div class="center_shop_1 clearfix">
                <div class="col-sm-3">
                    <div class="center_shop_1l clearfix">
                        <div class="center_shop_1li clearfix">
                            <h5 class="mgt">CATEGORY</h5>
                            <div class="ziehharmonika">
                                <h3 data-prefix="★" class="active"><a href="#">Bangles</a><div class="arrowDown"></div><div class="collapseIcon">–</div></h3>
                                <div class="clickable" style="display: block;">
                                    <ul>
                                        <li><a href="#">For Men</a></li>
                                        <li><a href="#">For Function</a></li>
                                        <li><a href="#">For Kids</a></li>
                                        <li><a href="#">For Women</a></li>
                                    </ul>
                                </div>
                                <h3 data-prefix="★"><a href="#">Bracelets</a><div class="arrowDown"></div><div class="collapseIcon">+</div></h3>
                                <div class="clickable">
                                    <ul>
                                        <li><a href="#">For Men</a></li>
                                        <li><a href="#">For Function</a></li>
                                        <li><a href="#">For Kids</a></li>
                                        <li><a href="#">For Women</a></li>
                                    </ul>
                                </div>
                                <h3 data-prefix="★"><a href="#">Earrings</a><div class="arrowDown"></div><div class="collapseIcon">+</div></h3>
                                <div class="clickable" style="display: none;">
                                    <ul>
                                        <li><a href="#">For Men</a></li>
                                        <li><a href="#">For Function</a></li>
                                        <li><a href="#">For Kids</a></li>
                                        <li><a href="#">For Women</a></li>
                                    </ul>
                                </div>
                                <h3 data-prefix="★"><a href="#">Necklaces</a><div class="arrowDown"></div><div class="collapseIcon">+</div></h3>
                                <div class="clickable">
                                    <ul>
                                        <li><a href="#">For Men</a></li>
                                        <li><a href="#">For Function</a></li>
                                        <li><a href="#">For Kids</a></li>
                                        <li><a href="#">For Women</a></li>
                                    </ul>
                                </div>
                                <h3 data-prefix="★"><a href="#">Rings</a><div class="arrowDown"></div><div class="collapseIcon">+</div></h3>
                                <div class="clickable" style="display: none;">
                                    <ul>
                                        <li><a href="#">For Men</a></li>
                                        <li><a href="#">For Function</a></li>
                                        <li><a href="#">For Kids</a></li>
                                        <li><a href="#">For Women</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="center_shop_1li1 clearfix">
                            <h5 class="mgt">POPULAR TAGS</h5>
                            <div class="center_shop_1li1i clearfix">
                                <ul class="mgt">
                                    <li><a href="#">Phone</a></li>
                                    <li><a href="#">Vest</a></li>
                                    <li><a href="#">Smartphone</a></li>
                                    <li><a href="#">Furniture</a></li>
                                    <li><a href="#">T-shirt</a></li>
                                    <li><a href="#">Sweatpants</a></li>
                                    <li><a href="#">Sneaker</a></li>
                                    <li><a href="#">Toys</a></li>
                                    <li><a href="#">Rose</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="center_shop_1li1 clearfix">
                            <h5 class="mgt">NEWSLETTERS</h5>
                            <h6>Sign Up for Our Newsletter!</h6>
                            <input class="form-control" placeholder="Subscribe" type="text">
                            <h6><a class="button_1 mgt" href="#">Subscribe</a></h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="center_shop_1r clearfix">
                        <div class="center_product_1r2 clearfix">
                            <div class="col-sm-6">
                                <div class="center_product_1r2l clearfix">
                                    <p class="mgt">Showing 1–9 of 10 results</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="center_product_1r2r text-right clearfix">
                                    <h5 class="mgt">SORT BY</h5>
                                    <select class="form-control" id="subject" name="subject">
                                        <option>Price, Low To High</option>
                                        <option>Price, High To Low</option>
                                        <option>Alphabetically, A-Z</option>
                                        <option>Alphabetically, Z-A</option>
                                        <option>Date, New To Old</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="collcet_1r clearfix">
                            <div class="col-sm-4 space_left">
                                <div class="feature_2im clearfix">
                                    <div class="feature_2im1 clearfix">
                                        <a href="#"><img src="img/8.jpg" class="iw" alt="product"></a>
                                    </div>
                                    <div class="feature_2im2 clearfix">
                                        <h6 class="mgt"><a class="bg_1" href="#">Featured</a></h6>
                                        <h6 class="pull-right mgt"><a class="bg_4" href="#">Sale</a></h6>
                                    </div>
                                    <div class="feature_2im4 clearfix">
                                        <div class="col-sm-6 space_left">
                                            <h6><a class="bg_3" href="#">Popular</a></h6>
                                        </div>
                                        <div class="col-sm-6 feature_2im4r space_right">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                                <li><a href="#"><i class="fa fa-rocket"></i></a></li>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="item_last text-center clearfix">
                                    <h4><a href="#">Nibh Elementum</a></h4>
                                    <h6>
                                        <span class="span_1 col_1 bold">$14.64</span>
                                        <span class="col_2 span_2">$16.30</span>
                                        <span>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </span>
                                    </h6>
                                </div>
                            </div>
                            <!-- Repeat product items as needed -->
                        </div>
                        <div class="product_1_last text-center clearfix">
                            <div class="col-sm-12">
                                <ul>
                                    <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                                    <li class="act"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Include jQuery and other scripts for dynamic behavior if not already included in the layout -->
<script>
    $(document).ready(function () {
        $('.ziehharmonika').ziehharmonika({
            collapsible: true,
            prefix: '★'
        });
    });
</script>
