@page
@model DiamondStore.Pages.ServicesModel
@{
    ViewData["Title"] = "Services";
    Layout = "_Layout";
}

<section id="center" class="center_shop"> 
    <div class="container">
        <div class="row">
            <div class="center_shop_t clearfix">
                <div class="col-sm-6">
                    <div class="center_shop_tl clearfix">
                        <h4 class="mgt">Services</h4>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="center_shop_tr text-right clearfix">
                        <h6 class="col_2">You are here: <a href="/">Home</a> / Services</h6>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</section>

<section id="example_h">
    <div class="container">
        <div class="row">
            <div class="feature_1 text-center clearfix">
                <div class="col-sm-12">
                    <h3 class="mgt">POPULAR SERVICES</h3>
                    <hr>
                </div>
            </div>
            <div class="example_h_1 clearfix">
                <div class="col-sm-4">
                    <div class="example_h_1l text-center clearfix">
                        <span><i class="fa fa-book"></i></span>
                        <h3>Lorem  Dolor</h3>
                        <hr>
                        <p> Nulla quis sem at nibh elementum imperdiet Duis sagittis ipsum  Fusce nec tellus sed augue semper porta. Mauris massa.</p>
                        <h4><a href="#" class="button">Learn More</a></h4>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="example_h_1l text-center clearfix">
                        <span><i class="fa fa-joomla"></i></span>
                        <h3>Adipiscing Elit</h3>
                        <hr>
                        <p> Nulla quis sem at nibh elementum imperdiet Duis sagittis ipsum  Fusce nec tellus sed augue semper porta. Mauris massa.</p>
                        <h4><a href="#" class="button">Learn More</a></h4>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="example_h_1l text-center clearfix">
                        <span><i class="fa fa-flask"></i></span>
                        <h3>Cursus Ante</h3>
                        <hr>
                        <p> Nulla quis sem at nibh elementum imperdiet Duis sagittis ipsum  Fusce nec tellus sed augue semper porta. Mauris massa.</p>
                        <h4><a href="#" class="button">Learn More</a></h4>
                    </div>
                </div>
            </div>
            <div class="example_h_1 clearfix">
                <div class="col-sm-4">
                    <div class="example_h_1l text-center clearfix">
                        <span><i class="fa fa-graduation-cap"></i></span>
                        <h3>Dapibus Diam</h3>
                        <hr>
                        <p> Nulla quis sem at nibh elementum imperdiet Duis sagittis ipsum  Fusce nec tellus sed augue semper porta. Mauris massa.</p>
                        <h4><a href="#" class="button">Learn More</a></h4>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="example_h_1l text-center clearfix">
                        <span><i class="fa fa-bell"></i></span>
                        <h3>Nibh Elementum</h3>
                        <hr>
                        <p> Nulla quis sem at nibh elementum imperdiet Duis sagittis ipsum  Fusce nec tellus sed augue semper porta. Mauris massa.</p>
                        <h4><a href="#" class="button">Learn More</a></h4>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="example_h_1l text-center clearfix">
                        <span><i class="fa fa-pencil-square-o"></i></span>
                        <h3>Augue Semper</h3>
                        <hr>
                        <p> Nulla quis sem at nibh elementum imperdiet Duis sagittis ipsum  Fusce nec tellus sed augue semper porta. Mauris massa.</p>
                        <h4><a href="#" class="button">Learn More</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="enquiry">
    <div class="container">
        <div class="row">
            <div class="enquiry_1 text-center clearfix">
                <div class="col-sm-12">
                    <h4 class="mgt">NEWSLETTER</h4>
                    <p>Subscribe to our newsletter and get <span class="col_1">20%</span> off your first purchase</p>
                    <div class="input-group">
                        <input type="text" class="form-control form_2" placeholder="Your Email">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">SUBSCRIBE</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/jquery-2.1.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            /*****Fixed Menu******/
            var secondaryNav = $('.cd-secondary-nav'),
                secondaryNavTopPosition = secondaryNav.offset().top;
            $(window).on('scroll', function(){
                if($(window).scrollTop() > secondaryNavTopPosition ) {
                    secondaryNav.addClass('is-fixed');    
                } else {
                    secondaryNav.removeClass('is-fixed');
                }
            });    
        });
    </script>
}

