<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - Jewelry</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/global.css" rel="stylesheet">
    <link href="~/css/index.css" rel="stylesheet">
    <link href="~/css/detail.css" rel="stylesheet">
    <link href="~/css/cart.css" rel="stylesheet">
    <link href="~/css/checkout.css" rel="stylesheet">
    <link href="~/css/contact.css" rel="stylesheet">
    <link href="~/css/shop.css" rel="stylesheet">
    <link href="~/css/services.css" rel="stylesheet">
    <link href="~/css/blog.css" rel="stylesheet" asp-append-version="true">
    <link rel="stylesheet" href="~/css/shop.css" />
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Alata&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <section id="top">
            <div class="container">
                <div class="row">
                    <div class="top_1 clearfix">
                        <div class="col-sm-3">
                            <div class="top_1l clearfix">
                                <ul class="mgt">
                                    <li>
                                        <a href="#"><i class="fa fa-lock"></i></a>
                                        <a href="#"><i class="fa fa-user"></i></a>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="top_1r clearfix">
                                <ul class="nav navbar-nav nav_1 mgt navbar-right">
                                    <li class="bord_l"><a class="font_tag col_1" href="#"><i class="fa fa-phone"></i> 123 456 789</a></li>
                                    <li class="dropdown bord_l">
                                        <a class="font_tag border_none" href="#" data-toggle="dropdown" role="button" aria-expanded="false">Setting<span class="caret"></span></a>
                                        <ul class="dropdown-menu drop_1" role="menu">
                                            <li><a href="#">Checkout</a></li>
                                            <li><a href="#">My Account</a></li>
                                            <li><a href="#">Shopping Cart</a></li>
                                            <li><a href="#">Wishlist</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown bord_l">
                                        <a class="font_tag border_none" href="#" data-toggle="dropdown" role="button" aria-expanded="false">$ USD<span class="caret"></span></a>
                                        <ul class="dropdown-menu drop_1" role="menu">
                                            <li><a href="#">EUR – Euro</a></li>
                                            <li><a href="#">GBP – British Pound</a></li>
                                            <li><a href="#">INR – India Rupee</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown bord_l border_none">
                                        <a class="font_tag border_none" href="#" data-toggle="dropdown" role="button" aria-expanded="false">English<span class="caret"></span></a>
                                        <ul class="dropdown-menu drop_1" role="menu">
                                            <li><a href="#"><i class="fa fa-flag"></i> English</a></li>
                                            <li><a href="#"><i class="fa fa-flag"></i> Germany</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="menu" class="clearfix cd-secondary-nav">
            <nav class="navbar nav_t">
                <div class="container">
                    <div class="navbar-header page-scroll">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/"><i class="fa fa-diamond"></i> <span class="col">Jewe</span>lry</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav nav_m">
                            <li><a class="m_tag" href="/">Home</a></li>
                            <li class="dropdown">
                                <a class="m_tag" href="#" data-toggle="dropdown" role="button" aria-expanded="false">Product<span class="caret"></span></a>
                                <ul class="dropdown-menu drop_3" role="menu">
                                    <li><a href="/Product">Product</a></li>
                                    <li><a class="border_none" href="/ProductDetail">Product Detail</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="m_tag" href="#" data-toggle="dropdown" role="button" aria-expanded="false">Blog<span class="caret"></span></a>
                                <ul class="dropdown-menu drop_3" role="menu">
                                    <li><a href="/Blog">Blog</a></li>
                                    <li><a class="border_none" href="/BlogDetail">Blog Detail</a></li>
                                </ul>
                            </li>
                            <li><a class="m_tag" href="/Contact">Contact</a></li>
                            <li class="dropdown">
                                <a class="m_tag" href="#" data-toggle="dropdown" role="button" aria-expanded="false">Pages<span class="caret"></span></a>
                                <ul class="dropdown-menu drop_3" role="menu">
                                    <li><a href="/Services">Services</a></li>
                                    <li><a href="/Cart">Cart</a></li>
                                    <li><a class="border_none" href="/Checkout">Checkout</a></li>
                                </ul>
                            </li>
                            <li class="dropdown dropdown-large">
                                <a href="#" class="dropdown-toggle m_tag" data-toggle="dropdown">Dropdown<b class="caret"></b></a>
                                <ul class="dropdown-menu dropdown-menu-large row">
                                    <li class="col-sm-3">
                                        <ul>
                                            <li class="dropdown-header">SHOP LAYOUTS</li>
                                            <li><a href="#"><img src="~/img/3.jpg" alt="abc" class="iw"></a></li>
                                            <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></li>
                                        </ul>
                                    </li>
                                    <li class="col-sm-3">
                                        <ul>
                                            <li class="dropdown-header">OTHER PAGES</li>
                                            <li><a href="#">Basic example</a></li>
                                            <li><a href="#">Button toolbar</a></li>
                                            <li><a href="#">Sizing</a></li>
                                            <li><a href="#">Nesting</a></li>
                                            <li><a href="#">Vertical variation</a></li>
                                            <li><a href="#">Single button dropdowns</a></li>
                                        </ul>
                                    </li>
                                    <li class="col-sm-3">
                                        <ul>
                                            <li class="dropdown-header">PRODUCT TYPES</li>
                                            <li><a href="#">Basic example</a></li>
                                            <li><a href="#">Button toolbar</a></li>
                                            <li><a href="#">Sizing</a></li>
                                            <li><a href="#">Nesting</a></li>
                                            <li><a href="#">Vertical variation</a></li>
                                            <li><a href="#">Single button dropdowns</a></li>
                                        </ul>
                                    </li>
                                    <li class="col-sm-3">
                                        <ul>
                                            <li class="dropdown-header">OTHER TYPES</li>
                                            <li><a href="#"><img src="~/img/4.jpg" alt="abc" class="iw"></a></li>
                                            <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav mgt navbar-right nav_r">
                            <li><a class="m_tag" href="#"><i class="fa fa-user"></i></a></li>
                            <li class="dropdown">
                                <a class="m_tag" href="#" data-toggle="dropdown" role="button" aria-expanded="false"><i class="glyphicon glyphicon-shopping-cart"></i></a>
                                <ul class="dropdown-menu drop_1" role="menu">
                                    <li>
                                        <div class="drop_1i clearfix">
                                            <div class="col-sm-6">
                                                <div class="drop_1il clearfix"><h5 class="mgt">2 ITEMS</h5></div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="drop_1il text-right clearfix"><h5 class="mgt"><a href="#">VIEW CART</a></h5></div>
                                            </div>
                                        </div>
                                        <div class="drop_1i1 clearfix">
                                            <div class="col-sm-8">
                                                <div class="drop_1i1l clearfix"><h6 class="mgt bold"><a href="#">Nulla Quis</a> <br> <span class="normal col_2">1x - $89.00</span> <br> <span><i class="fa fa-remove"></i></span></h6></div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="drop_1i1r text-right clearfix"><a href="#"><img src="~/img/1.jpg" class="iw" alt="abc"></a></div>
                                            </div>
                                        </div>
                                        <div class="drop_1i2 clearfix">
                                            <div class="col-sm-6">
                                                <div class="drop_1il clearfix"><h5 class="mgt">TOTAL</h5></div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="drop_1il text-right clearfix"><h5 class="mgt">$138.00</h5></div>
                                            </div>
                                        </div>
                                        <div class="drop_1i3 text-center clearfix">
                                            <div class="col-sm-12">
                                                <h5><a class="button_1 block" href="checkout.html">CHECKOUT</a></h5>
                                                <h5><a class="button block" href="cart.html">VIEW CART</a></h5>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="m_tag" href="#" data-toggle="dropdown"><span class="fa fa-search"></span></a>
                                <ul class="dropdown-menu drop_2" style="min-width: 300px;">
                                    <li>
                                        <div class="row_1">
                                            <div class="col-sm-12">
                                                <form class="navbar-form navbar-left" role="search">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="Search">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-primary" type="button">
                                                                Search
                                                            </button>
                                                        </span>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </section>
    </header>

    <div class="container">
        @RenderBody()
    </div>

    <footer>
        <section id="footer">
            <div class="container">
                <div class="row">
                    <div class="footer_1 clearfix">
                        <div class="col-sm-3">
                            <div class="footer_1i clearfix">
                                <a class="navbar-brand" href="/"><i class="fa fa-diamond"></i> <span class="col">Jewe</span>lry</a>
                                <h5 class="col_3 normal"><span>Hotline:</span> <a class="col" href="#">01234</a></h5>
                                <h5 class="col_3 normal"><span>Phone:</span> <a class="col" href="#">(+123) 456-7898</a></h5>
                                <h5 class="col_3 normal"><span>Email:</span> <a class="col" href="#">info@gmail.com</a></h5>
                                <h5 class="col_3 normal"><span>Address:</span> <a class="col" href="#">2190 Clue, The Xronz, OZ 0038, USA</a></h5>
                                <ul class="social-network social-circle">
                                    <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                                    <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="footer_1i1 clearfix">
                                <h4 class="mgt">Information</h4>
                                <ul>
                                    <li class="col_3"><a class="col_3" href="#">About Us</a></li>
                                    <li class="col_3"><a class="col_3" href="#">Contact Us</a></li>
                                    <li class="col_3"><a class="col_3" href="#">Privacy Policy</a></li>
                                    <li class="col_3"><a class="col_3" href="#">Terms &amp; Conditions</a></li>
                                    <li class="col_3"><a class="col_3" href="#">Delivery Information</a></li>
                                    <li class="col_3"><a class="col_3" href="#">Orders and Returns</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="footer_1i1 clearfix">
                                <h4 class="mgt">Customer Care</h4>
                                <ul>
                                    <li class="col_3"><a class="col_3" href="#">Help &amp; FAQs</a></li>
                                    <li class="col_3"><a class="col_3" href="#">My Account</a></li>
                                    <li class="col_3"><a class="col_3" href="#">Order History</a></li>
                                    <li class="col_3"><a class="col_3" href="#">Wishlist</a></li>
                                    <li class="col_3"><a class="col_3" href="#">Newsletter</a></li>
                                    <li class="col_3"><a class="col_3" href="#">Newsletter</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="footer_1i1 clearfix">
                                <h4 class="mgt">Newsletter</h4>
                                <p class="col_3">Sign up for our mailing list to get the latest updates &amp; offers.</p>
                                <input class="form-control" placeholder="Email address" type="text">
                                <h5><a class="button" href="#"> Subscribe Now</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="footer_bottom">
            <div class="container">
                <div class="row">
                    <div class="footer_2 text-center clearfix">
                        <div class="col-sm-12">
                            <p class="mgt col_3">© 2013 Your Website Name. All Rights Reserved | Design by <a class="col_1" href="http://www.templateonweb.com">TemplateOnWeb</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </footer>

    <script src="~/js/jquery-2.1.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/ziehharmonika.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
